Repository layer-g/reth, changes with the owners that CODEOWNERS names for each.
All owners: @gakonst, @onbjerg, @mattsse, @Rjected, @rkrasiuk, @rakita, @joshieDo

CODEOWNERS:

*                           @gakonst
bin/                        @onbjerg
crates/net/                 @mattsse @Rjected
crates/net/downloaders/     @onbjerg @rkrasiuk
crates/executor/            @rakita
crates/stages/              @onbjerg @rkrasiuk
crates/storage/             @rakita @joshieDo
crates/transaction-pool/    @mattsse
crates/rpc/                 @mattsse @Rjected
crates/payload/             @mattsse @Rjected

add categories to block env in payload builder
  Cargo.lock
  crates/payload/builder/src/payload.rs
Owners: @gakonst, @mattsse, @Rjected

exporting recover raw tx util
  crates/rpc/rpc/src/eth/utils.rs
Owners: @mattsse, @Rjected

making utils public
  crates/rpc/rpc/src/eth/mod.rs
Owners: @mattsse, @Rjected

resolve build error related to https://github.com/paradigmxyz/reth/commit/ca6724f1069a034f1e5f87dbfdc0ac5518c121cf
  Cargo.lock
  Cargo.toml
  crates/storage/libmdbx-rs/mdbx-sys/Cargo.toml
  crates/storage/libmdbx-rs/mdbx-sys/build.rs
  crates/storage/libmdbx-rs/src/codec.rs
Owners: @gakonst, @rakita, @joshieDo

inital setup
  bin/reth/src/cli/mod.rs
  bin/reth/src/lattice/cl_events.rs
  bin/reth/src/lattice/events.rs
  bin/reth/src/lattice/mod.rs
  bin/reth/src/lib.rs
Owners: @onbjerg

auto sealing
  Cargo.lock
  Makefile
  bin/reth/Cargo.toml
  bin/reth/src/lattice/mod.rs
  bin/reth/src/node/mod.rs
  crates/consensus/auto-seal/src/task.rs
Owners: @gakonst, @onbjerg

blocks building
  bin/reth/src/lattice/mod.rs
  crates/consensus/auto-seal/src/lib.rs
  crates/rpc/rpc/src/eth/cache/mod.rs
Owners: @onbjerg, @gakonst, @mattsse, @Rjected

docker
  Dockerfile
  Makefile
  bin/reth/src/lattice/mod.rs
  etc/docker-compose.yml
Owners: @gakonst, @onbjerg

use layerg docker repo bc no IAM control on gcloud
  etc/docker-compose.yml
Owners: @gakonst

grafana ini
  etc/docker-compose.yml
  etc/grafana/grafana.ini
Owners: @gakonst

grafana ini
  etc/grafana/grafana.ini
Owners: @gakonst

remove lighthouse data source. add web.external-url to prometheus
  etc/docker-compose.yml
  etc/prometheus/prometheus.yml
Owners: @gakonst

debug route
  etc/docker-compose.yml
Owners: @gakonst

prom
  etc/docker-compose.yml
Owners: @gakonst

trying prom angle
  etc/docker-compose.yml
Owners: @gakonst

add metrics endpoint
  etc/docker-compose.yml
Owners: @gakonst

initial faucet impl started
  Cargo.lock
  bin/reth/Cargo.toml
  bin/reth/src/lattice/faucet.rs
  bin/reth/src/lattice/mod.rs
Owners: @gakonst, @onbjerg

signing methods and working through test
  bin/reth/src/lattice/faucet.rs
Owners: @onbjerg

make genesis mod public to create custom chain config
  bin/reth/src/lattice/faucet.rs
  crates/primitives/src/genesis.rs
  crates/primitives/src/lib.rs
Owners: @onbjerg, @gakonst

tx submitted to pool successfully
  bin/reth/src/lattice/faucet.rs
  bin/reth/src/node/events.rs
Owners: @onbjerg

launch
  crates/node-builder/src/launch.rs
  crates/node-builder/src/lib.rs
Owners: @gakonst

.
  crates/node-builder/src/builder.rs
  crates/node-builder/src/launch.rs
Owners: @gakonst

.
  crates/node-builder/src/launch.rs
Owners: @gakonst

builder type issue
  crates/node-builder/src/builder.rs
  crates/node-builder/src/launch.rs
Owners: @gakonst
